<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartITN" >

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ajouter les 3 activités -->
        <activity android:name=".ProfileActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".dashboard.MainActivity" />
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".evaluation.MainActivity" />
        <activity android:name=".evaluation.EvaluationActivity" />
        <activity android:name=".events.MainActivity" />
        <activity android:name=".events.DetailActivity" />
        <activity android:name=".presence.MainActivity" />
        <activity android:name=".presence.AttendanceActivity" />

    </application>

</manifest>